{% extends 'base.html' %}
{% block content %}
<h1>Enquêtes</h1>
<a class="btn btn-primary" href="{% url 'survey_add' %}">Nieuwe enquête</a>
<table class="table mt-3">
  <thead>
    <tr>
      <th>Titel</th>
      <th>Bewerk</th>
      <th>Verwijder</th>
      <th>Vragen</th>
      <th>Uitnodigen</th>
      <th>Resultaten</th>
    </tr>
  </thead>
  <tbody>
    {% for survey in object_list %}
      <tr>
        <td>{{ survey.title }}</td>
        <td><a href="{% url 'survey_edit' survey.id %}">bewerk</a></td>
        <td><a href="{% url 'survey_delete' survey.id %}">verwijder</a></td>
        <td><a href="{% url 'question_list' survey.id %}">vragen</a></td>
        <td><a href="{% url 'invite' survey.id %}">uitnodigen</a></td>
        <td><a href="{% url 'results' survey.id %}">resultaten</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">Geen enquêtes.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
